.App {
  text-align: center;
  position: relative;
}

.App-header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Links {
  position: absolute;
  bottom: 0;
  right: 0;
}

.split {
  top: 64px;
  height: calc(100% - 64px);
  width: calc((100% - 64px) / 2);
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}

.left {
  position: fixed;
  left: 64px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.right {
  position: fixed;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
